.left-block {
    min-width: 300px;
    height: 600px;
    
    outline: 2px solid #ff3f53;
    background: #000;
    z-index: 3;
    
}

.left-block .title {
    color: #000;
    background:#ff3f53
}

.version {
    padding-left: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
    color: #fff;
    font-weight: 300;
    font-size: 0.75rem;
}

@media (max-width: 768px) { 
    .left-block {
        position: absolute;
        height: calc(100vh - 50px);
        width: 100vw;
        top: 50px;

        outline: none;
        border: 2px solid #ff3f53;
    }

    .left-block .title {
        display: none;
    }
}

.animated {
    -webkit-animation-duration: 0.7s;
    animation-duration: 0.7s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes fadeInLeft {
    from {
      opacity: 0.5;
      -webkit-transform: translate3d(-100%, 0, 0);
      transform: translate3d(-100%, 0, 0);
    }
  
    to {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  
  @keyframes fadeInLeft {
    from {
      opacity: 0.5;
      -webkit-transform: translate3d(-100%, 0, 0);
      transform: translate3d(-100%, 0, 0);
    }
  
    to {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  
  .fadeInLeft {
    -webkit-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
  }
  
  @-webkit-keyframes fadeOutLeft {
    from {
      opacity: 1;
    }
  
    to {
      opacity: 0.5;
      -webkit-transform: translate3d(-100%, 0, 0);
      transform: translate3d(-100%, 0, 0);
    }
  }
  
  @keyframes fadeOutLeft {
    from {
      opacity: 1;
    }
  
    to {
      opacity: 0.5;
      -webkit-transform: translate3d(-100%, 0, 0);
      transform: translate3d(-100%, 0, 0);
    }
  }
  
  .fadeOutLeft {
    -webkit-animation-name: fadeOutLeft;
    animation-name: fadeOutLeft;
  }