.btn-icon {
    height: 20px;
    width: 20px;

    outline: none;
    border: none;
    transition-duration: 0.4s;
}

.btn-remove {
    margin: 0 15px;
    background: url('icon/btn-remove.svg');   
}

.btn-remove:hover {
    background: url('icon/btn-remove-active.svg');
}

.btn-edit {
    background: url('icon/btn-edit.svg');
}

.btn-edit:hover {
    background: url('icon/btn-edit-active.svg');
}


.btn-add {
    background: url('icon/btn-add.svg');
}

.btn-add:hover {
    background: url('icon/btn-add-active.svg');
}

.btn-confirm {
    background: url('icon/btn-select.svg');
}

.btn-confirm:hover {
    background: url('icon/btn-select-active.svg');
}

.btn-select {
    border: 1px solid #ff3f53;
    background: none;
}

.btn-select:hover {
    background: url('icon/btn-select-active.svg');
}