/* CHECKBOX */
.products {
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    transition-duration: 0.4s;
}

.products::after {
    content: '';
    width: 16px;
    height: 16px;

    position: absolute;
    left: 0;

    border: 1px solid #ff3f53;
}

.products::before {
    content: '';
    display: inline-block;
    height:18px;
    width: 18px;
    transition-duration: 0.4s;
    background-image: url('../../components/BtnIcon/icon/btn-select-active.svg');
    opacity: 0;
    z-index: 2;
}
.products:hover::before {
    opacity: 1;
}

.checkbox {
    display: inline-block;
    height:16px;
    width: 16px;
    
    border: 1px solid #ff3f53;
    
}
.checkbox:hover{
    background-image: url('/public/icon/btn-select.svg');
}


.product-label,
.product-count,
.product-price{
    margin: 0 5px;
    display: inline-block;
}

.product-label {
    padding-left: 5px;
    width: 170px;
}

.product-count {
    width:  70px;
    text-align: center;
}

.product-price {
    width: 70px;
    text-align: center;
}

@media (max-width: 576px) { 
    .product-label {
        padding-left: 5px;
        width: 120px;
    }
    
    .product-count {
        width:  50px;
    }
    
    .product-price {
        width: 50px;
    }

    html {
        font-size: 14px;
    }
}
