/* CHECKBOX */

.checkbox {
    
    display: inline-block;
    height:16px;
    width: 16px;
    
    border: 1px solid #ff3f53;
    
}
.checkbox:hover{
    background-image: url('/public/icon/btn-select.svg');
    background-size: 100%;
    overflow:visible;
}

/* AMOUNT */

.amount {
    position: absolute;
    bottom: 0;
    right: 0;   

    height: 100px;
    width: 200px;
    border-left: 2px solid #ff3f53;
    border-top: 2px solid #ff3f53;

    color: #fff;
    font-size: 25pt;
    font-weight: 300;

}

.product-label,
.product-count,
.product-price{
    margin: 0 5px;
    display: inline-block;
}

.product-label {
    padding-left: 15px;
    width: 150px;
}

.product-count {
    width:  60px;
    text-align: center;
}

.product-price {
    width: 75px;
    text-align: center;
}

