.right-block {
    flex: 0 1 600px;
    min-width: 350px;
    height: 600px;

    outline: 2px solid #ff3f53;
    position: relative;
}


.right-block .title{
    color: #fff;
}

@media (max-width: 576px) { 
    .right-block {
        height: 100vh;
    }
}