*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

html{
    font-size: 16px;
    user-select: none;
}

input:not([type=checkbox]):not([type=radio]),
textarea, 
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

::selection {
    background: #ffb7b7;
}
::-moz-selection {
    background: #ffb7b7; 
}
    

input[type='number'] {
    -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

body {
    background: #000;
    font-family: 'Roboto', sans-serif;
}
p{
    display: inline-block;
}
.right-block__item input[type="checkbox"]{
    display: none;
}

/* CONTAINER */

.container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

@media (max-width: 768px) { 
    .container {
        padding: 0px;
    }
}



