.selected-products {
    color: #999;
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    transition-duration: 0.4s;
}

.selected-products::after {
    border: 1px solid #999;
}

.selected-products::before {
    content: '';
    display: inline-block;
    height:18px;
    width: 18px;
    transition-duration: 0.4s;
    background-image: url('../../components/BtnIcon/icon/btn-select.svg');
    opacity: 0.7;
    z-index: 2;
  
}
.selected-products:hover::before {
    opacity: 0;
}

.selected-products::after {
    content: '';
    width: 16px;
    height: 16px;

    position: absolute;
    left: 0px;

    border: 1px solid #999;
}